doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/images/favicons/manifest.json')
		meta(name='theme-color', content='#56A9F6')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
